fastapi==0.112.0
uvicorn==0.30.3
confluent-kafka==2.5.0
cassandra-driver==3.29.2
python-dotenv==1.0.1
pydantic-settings==2.11.0
pyjwt==2.9.0
requests==2.32.5
mysql-connector-python==8.2.0
sqlalchemy==2.0.23
